// $fa-font-path: '../../../assets/fonts/fontawesome' !default;
@import "global/vendor/fontawesome/fontawesome";

@import "abstracts/mixins";

$aside-width: 220px;

/*
#toggle-menu:checked
        |   DESKTOP  |   MOBILE     |
TRUE    |   CLOSE    |   OPEN       |
FALSE   |   OPEN     |   CLOSE      |
*/
.wrap {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  display: block;
  button {
    color: currentColor;
    
  }

  &:hover {
    text-decoration: none;
    button {
      text-decoration: none;
    }
  }
}

/* LAYOUT */

header {
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 10;
  height: 50px;
  min-width: calc(100% - #{$aside-width});
  line-height: 50px;
  background-color: var(--color-neutral-800);
  transition: all 0.2s ease;

  .wp {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--color-white);
    font-size: 1.4rem;

    label {
      margin: 0;
      padding: 0 15px;
      position: absolute;
      top: 0;
      left: 0;
    }

    button {
      padding: 4px 2px;
      background-color: var(--color-primary-500);
      border: none;
      color: white;
    }

    .cursor {
      cursor: pointer;
    }

    div.header-button {
      margin: 0;
      padding: 0 15px;
      position: absolute;
      top: 0;
      left: 40px;

      i.server-warning {
        color: var(--color-yellow-500);
      }
      i.server-okay {
        color: var(--color-neutral-200);
      }
      i.demo {
        margin-right: 2px;
        color: var(--color-neutral-200);
      }

      .online {
        padding: 4px 16px;
        margin-left: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
      }

      .demo-player-id {
        padding: 4px 16px;
        margin-left: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
      }

      .demo-form {
        display: inherit;
      }
      .sync {
        margin-left: 5px;
        font-size: 12px;
      }
      .web-type {
        padding: 2px 5px !important;
        margin-left: 5px;
      }
    }

    nav {
      display: inline-block;
      color: var(--color-white);
      cursor: pointer;
      text-align: left;
      width: 170px;
      padding: 0px 10px;

      i.fa-user {
        margin-right: 5px;
      }

      ul {
        display: none;
      }

      &:hover {
        background-color: var(--color-primary-500);

        ul {
          display: block;
        }

        a {
          margin: 0px -10px;
          padding: 0px 10px;

          &:hover {
            background-color: var(--color-primary);

            button {
              background-color: var(--color-primary);
            }
          }
        }
      }
    }
  }

  @include respond(phone-only) {
    min-width: 100%;
  }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: $aside-width;
  transition: all 0.2s ease;

  @include respond(phone-only) {
    left: -$aside-width;
  }
}

aside .head {
  background-color: var(--color-primary-500);
  height: 50px;
  overflow: hidden;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 600;

  img {
    height: 40px;
    margin: 4px 5px;
  }

  @extend .fa-2x;

  i {
    @extend .fal;
    color: var(--color-white);
    margin: 12px 7px;
    position: relative;
  }

  i.futbol:before {
    content: fa-content($fa-var-futbol);
  }

  i.basketball-ball:before {
    content: fa-content($fa-var-basketball-ball);
  }

  i.cricket:before {
    content: fa-content($fa-var-cricket);
  }

  i.football-ball:before {
    content: fa-content($fa-var-football-ball);
  }

  i.volleyball-ball:before {
    content: fa-content($fa-var-volleyball-ball);
  }
}

aside > ul {
  background-color: var(--color-white);
  height: calc(100vh - 50px);
  box-shadow: 3px 6px 5px var(--color-neutral-100);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  > li {
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;

    i.icon {
      margin: 0 10px;
      width: 20px;
    }

    i.icon:last-child {
      position: absolute;
      margin-right: 0;
      right: 15px;
    }

    > label {
      display: block;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
      text-transform: capitalize;
      font-weight: 400;
      border-bottom: 1px solid var(--color-neutral-100);
    }

    &:hover {
      background-color: var(--color-primary-200);
      border-right: 3px solid var(--color-primary);
    }
  }
}

aside > label:first-child {
  position: relative;
  display: none;
  height: 0;

  div {
    position: absolute;
    top: 0;
    left: $aside-width;
    z-index: 3;
    display: block;
    width: 999vw; // calc(100vw - #{$aside-width});
    height: 100vh;
  }
}

aside > ul ul {
  overflow: hidden;
  background-color: var(--color-primary-100);
  max-height: 0; // slide
  font-size: 1.4rem;
  text-transform: none;
  transition: max-height 0.3s ease-in-out;

  li {
    padding: 12px 0 12px 40px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: var(--color-primary-200);
    }
  }
}

main {
  width: calc(100% - #{$aside-width});
  min-width: 800px;
  min-height: calc(100vh - 50px);
  margin: 50px 0 0 $aside-width;
  padding: 15px;
  transition: all 0.2s ease;
  position: relative;

  @include respond(phone-only) {
    width: 100%;
    margin-left: 0;
  }
}

label[for="toggle-menu"] {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 2rem;
  text-align: center;
  transition: 0.3s ease;

  &:hover {
    background: var(--color-primary-500);
  }
}

#toggle-menu:checked {
  + aside {
    width: 40px;

    img {
      display: none;

      @include respond(phone-only) {
        display: block;
      }
    }

    > ul > li > label > span {
      display: none;

      @include respond(phone-only) {
        display: inline;
      }
    }

    > ul > li > label > span + i.icon {
      display: none;

      @include respond(phone-only) {
        display: inline;
      }
    }

    > ul ul {
      display: none;
    }

    @include respond(phone-only) {
      width: $aside-width;
      left: 0;
    }

    label {
      @include respond(phone-only) {
        display: block;
      }
    }

    &:hover {
      img {
        display: block;
      }

      > ul > li > label > span {
        display: inline;
      }

      > ul > li > label > span + i.icon {
        display: inline-block;
      }

      > ul > li > [name="radio-menu"]:checked {
        + label + ul {
          display: block;
        }
      }

      width: $aside-width;
    }
  }

  ~ header {
    min-width: calc(100% - 40px);

    @include respond(phone-only) {
      min-width: 100%;
      left: 0;
    }
  }

  ~ main {
    width: calc(100% - 40px);
    margin: 50px 0 0 40px;

    @include respond(phone-only) {
      width: 100%;
      margin: 50px 0 0 0;
    }
  }
}

[name="radio-menu"]:checked {
  + label {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-bottom: 0 !important;
  }

  ~ ul {
    max-height: 999px; //slide

    li.highlight {
      color: var(--color-neutral-900);
      background-color: var(--color-primary-200);
    }
  }
}

input[type="radio"].toggle-hide,
input[type="checkbox"].toggle-hide {
  display: none;
}
