.market-container {
  display: grid;
  grid-gap: 15px;
  max-width: 900px;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-auto-flow: row;

  &.prematch_1 {
    grid-template-areas: 
      "_101000 _102000"
      "_101010 _102010"
      "_101020 _102020"
      "_191000 _192000"
      "_191010 _192010"
      "_198010 _198020"
      "_198030 _198040"
      "_198050 _198060"
      "_199010 _199020"
      "_199030 _199040"
      "_199050 _199060"
      "_199070 _199080"
      "_199090 _199100"
      "_199110 _199120"
      "_199130 _199140"
      "_199150 _199160"
      "_199170 _199180"
      "_103000 _103010"
      "_104000 _104000"
      "_104010 _104010"
      "_104020 _104020"
      "_105000 _105010"
      "_106000 _106010"
      "_107000 _107010"
      "_108000 _108010"
      "_109000 _110000"
      "_111000 _111000"
      "_111010 _111010"
      "_112000 _112010"
      "_113000 _113010"
      "_131000 _132000"
      "_141000 _141000"
      "_141010 _141010"
      "_142000 _142000"
      "_142010 _142010"
      "_143000 _143000"
      "_143010 _143010"
      "_211000 _212000"
      "_211010 _212010"
      "_213000 _213010"
      "_214000 _214000"
      "_214010 _214010"
      "_214020 _214020"
      "_215000 _215010"
      "_231000 _232000"
      "_216010 _209000"
      "_241000 .";
  }

  &.live_1 {
    grid-template-areas: 
      "_101001 _102001"
      "_101011 _102011"
      "_101021 _102021"
      "_191001 _192001"
      "_191011 _192011"
      "_198011 _198021"
      "_198031 _198041"
      "_198051 _198061"
      "_199011 _199021"
      "_199031 _199041"
      "_199051 _199061"
      "_199071 _199081"
      "_199091 _199101"
      "_199111 _199121"
      "_199131 _199141"
      "_199151 _199161"
      "_199171 _199181"
      "_103001 _103011"
      "_104001 _104001"
      "_104011 _104011"
      "_104021 _104021"
      "_105001 _105011"
      "_106001 _106011"
      "_107001 _107011"
      "_108001 _108011"
      "_109001 _110011"
      "_111001 _111001"
      "_111011 _111011"
      "_112001 _112011"
      "_113001 _113011"
      "_131001 _132001"
      "_141001 _141001"
      "_141011 _141011"
      "_142001 _142001"
      "_142011 _142011"
      "_143001 _143001"
      "_143011 _143011"
      "_181001 _182001"
      "_181011 _182011"
      "_181021 _182021"
      "_211001 _212001"
      "_211011 _212011"
      "_213001 _213011"
      "_214001 _214001"
      "_214011 _214011"
      "_214021 _214021"
      "_215001 _215011"
      "_216011 ."
      "_201001 _202011"
      "_231001 _232001"
      "_241001 .";
  }

  &.prematch_2 {
    grid-template-areas: 
      "_301000 _302000"
      "_301060 _302060"
      "_301010 _302010"
      "_301020 _302020"
      "_301030 _302030"
      "_301040 _302040"
      "_303000 _303060"
      "_303010 _303020"
      "_303030 _303040"
      "_303050 ."
      "_305000 _305060"
      "_305010 _305020"
      "_305030 _305040"
      "_307000 _308000"
      "_311010 _311020"
      "_311030 _311040"
      "_309000 _309060"
      "_326000 _327000"
      "_321000 _322000"
      "_323000 _324000"
  }
  
  &.live_2 {
    grid-template-areas: 
      "_301001 _302001"
      "_301061 _302061"
      "_301011 _302011"
      "_301021 _302021"
      "_301031 _302031"
      "_301041 _302041"
      "_303001 _303061"
      "_303011 _303021"
      "_303031 _303041"
      "_303051 ."
      "_305001 _305061"
      "_305011 _305021"
      "_305031 _305041"
      "_307001 _308001"
      "_311011 _311021"
      "_311031 _311041"
      "_309001 _309061"
      "_326001 _327001"
      "_321001 _322001"
      "_323001 _324001"
  }
}