@function shades($baseColor, $weight) {
  $start: 80;
  $end: -30;

  $lightness-value: ($weight - 100) / 800; // 500 - 100 / 800 == 0.5
  $lightness-value: $lightness-value * ($start - $end); // 0.5 * 200 == 100
  $lightness-value: (($start - $lightness-value) / 100) * 100%;

  @return  scale-color($baseColor, $lightness: $lightness-value);
}