// ==============================================
// Responsiveness
@mixin respond($range) {
  $phone-upper-boundary: 600px; //37.5em
  $tablet-portrait-upper-boundary: 56.25em; //900px
  $tablet-landscape-upper-boundary: 75em; //1200px
  $desktop-upper-boundary: 112.5em; //1800px

  @if $range==phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  }

  @else if $range==tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  }

  @else if $range==tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  }

  @else if $range==desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  }

  @else if $range==big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}
