.suspicious-tag-1{
  color:#cd6155;
}
.suspicious-tag-2{
  color: #ca5e52;
}
.suspicious-tag-3{
  color:#c75c50;
}
.suspicious-tag-4{
  color: #c4594d;
}
.suspicious-tag-5{
  color:#c1564b;
}
.suspicious-tag-6{
  color:#be5448;
}
.suspicious-tag-7{
  color:#bb5145;
}
.suspicious-tag-8{
  color:#b84e43;
}
.suspicious-tag-9{
  color: #b54b40;
}
.suspicious-tag-10{
  color:#b2493e;
}
.suspicious-tag-11{
  color:#b0463b;
}
.suspicious-tag-12{
  color:#ad4338;
}
.suspicious-tag-13{
  color:#aa4136;
}
.suspicious-tag-14{
  color:#a73e33;
}
.suspicious-tag-15{
  color: #a43b31;
}
.suspicious-tag-16{
  color:#a1382e;
}
.suspicious-tag-17{
  color:#9e362b;
}
.suspicious-tag-18{
  color:#9b3329;
}
.suspicious-tag-19{
  color:#983026;
}
.suspicious-tag-20{
  color:#952e24;
}