.breadcrumb {
  list-style: none;

  &__item {
    color: var(--color-primary-600);
    display: inline-block;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__item:not(:last-child) {
    &::after {
      content: '/';
      display: inline-block;
      margin: 0 10px;
    }
  }

  &__item.is-current {
    font-weight: 600;
  }
}
